.pagination button {
    margin: 0 5px;
    padding: 8px 16px;
    font-size: 14px;
    /* background-color: #a19f9f; */
    color: #1f1b1b;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination-button:hover {
    background-color: #4d4d4d;
  }
  
  .selected {
    background-color: chocolate;
    color: #ffffff;
  }